/* || RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

button {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF-FRAUNCES: 'Fraunces', serif;
    --FF-MONTSERRAT: 'Montserrat', sans-serif;
    --FW-REGULAR: 500;
    --FW-BOLD: 700;
    --FS: 2rem;

    /* COLORS */
    --DARK-CYAN: hsl(158, 36%, 37%);
    --CREAM: hsl(30, 38%, 92%);
    --DARK-BLUE: hsl(212, 21%, 14%);
    --GRAYISH-BLUE: hsl(228, 12%, 48%);
    --WHITE: hsl(0, 0%, 100%);
}

/* || GENERAL STYLES */
body {
    background: var(--CREAM);
    color: var(--GRAYISH-BLUE);
    display: grid;
    font-family: var(--FF-MONTSERRAT);
    font-size: 0.875rem;
    font-weight: var(--FW-REGULAR);
    margin: 1.5rem 1rem;
    min-height: 100vh;
    place-content: center;
}

/* || PRODUCT */
/* GENERAL STYLES */
.product {
    background: var(--WHITE);
    border-radius: 0.625rem;
    max-width: 600px;
    overflow: hidden;
}

.product__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem;
}

/* DESKTOP VERSION */
@media screen and (min-width: 576px) {
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* TITLE */
.product__title {
    color: var(--DARK-BLUE);
    font-family: var(--FF-FRAUNCES);
    font-size: var(--FS);
    font-weight: var(--FW-BOLD);
    line-height: 1;
    padding: 1rem 1rem 1rem 0;
}

/* CATEGORY */
.product__category {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

/* PARAGRAPH */
.product p {
    line-height: 1.8;
}

/* PRICE */
.product__price {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product__new-price {
    color: var(--DARK-CYAN);
    font-family: var(--FF-FRAUNCES);
    font-size: var(--FS);
    font-weight: var(--FW-BOLD);
}

.product__old-price {
    text-decoration: line-through;
}

/* BUTTON */
.product__button {
    background: var(--DARK-CYAN);
    border: none;
    border-radius: 0.625rem;
    color: var(--WHITE);
    display: flex;
    font-weight: var(--FW-BOLD);
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.product__button:hover, .product__button:focus {
    background: hsl(158, 36%, 20%);
    cursor: pointer;
}

/* BUTTON - ADD CART ICON */
.product__button[data-icon="icon-cart"]::before {
    background-image: url(../img/icon-cart.svg);
    content: "";
    height: 16px;
    width: 15px;
}

/* || FOOTER */
footer {
    margin-top: 1rem;
    text-align: center;
}

footer, footer a{
    color: var(--DARK-BLUE);
}

