@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@1,9..144&family=Montserrat&display=swap');

/* || RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FS-FRAUNCES: 'Fraunces', serif;
    --FS-MONTSERRAT: 'Montserrat', sans-serif;

    /* COLORS */
    --DARK-CYAN: hsl(158, 36%, 37%);
    --CREAM: hsl(30, 38%, 92%);
    --DARK-BLUE: hsl(212, 21%, 14%);
    --GRAYISH-BLUE: hsl(228, 12%, 48%);
    --WHITE: hsl(0, 0%, 100%);
}

/* || UTILITY CLASSES */
.sr-only {
    left: -10000px;
    position: absolute;
}

/* || GENERAL STYLES */
